.Chat {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 27vw;
  box-shadow: 4px 8px 20px 5px rgba(0, 0, 0, 0.25);
}

.InputBar {
  width: 20vw;
  height: 2vw;
  display: flex;
  /* justify-content: safe; */
}

.Input-message {
  width: 17vw;
  height: 2vw;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(230, 202, 50);
  font-weight: bold;
  font-size: large;
}

.SendButton {
  background-color: rgba(230, 202, 50, 1);
  width: 3vw;
  height: 2vw;
  border: 1px solid black;
  font-size: 0.8vw;
}
