.row {
  display: flex;
  justify-content: center;
}

.BattleMap {
  margin: 0;
  padding: 0;
  height: fit-content;
  width: fit-content;
  border: 1px solid black;
}

.Grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
