.Message {
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  /* max-width: 80%; */
}

.Sender {
  font-size: 0.7rem;
  color: white;
}

.Text {
  /* font-size: 1.5rem; */
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  max-width: max-content;
}

.Content {
  max-width: 80%;
}
